In [44]:
import sys
sys.path.insert(0,'/Users/alexandra/Documents/master_thesis')

"""
Magic commands
"""

"""
Magic commands
"""

%load_ext autoreload
%autoreload 2

"""
Load relevant packages
"""

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

import pandas_datareader as pdr
from pandas_datareader.yahoo.daily import YahooDailyReader


import datetime

"""
Load own functions/packages
"""

# set plotting style

from codelib.visualization.layout import DefaultStyle
DefaultStyle();

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [45]:
etf_list = pd.read_csv("/Users/alexandra/Documents/master_thesis/sb_etfs.csv")


etf_list

    Ticker
0     SPDV
1     DMDV
2     EEMD
3     WLDR
4     DIVA
..     ...
393   QARP
394   DEUS
395   SSPY
396   SSPY
397   SSPY

[398 rows x 1 columns]

In [70]:
"""
Get adjusted stock prices for SB ETFs.
"""

tickers = list(etf_list['Ticker'])
etfs = YahooDailyReader(tickers, start=datetime.date(2007, 2, 23),interval='m').read()

"""
Get adjusted close and normalize
"""
etfs_adj_close = etfs['Adj Close']
etfs_adj_close

Symbols,SPDV,DMDV,EEMD,WLDR,DIVA,EDOG,IDOG,RDOG,SDOG,QINT,...,USMF,DGRW,DES,EES,DGRS,DTD,DEEF,QARP,DEUS,SSPY
Date,,,,,,,,,,,,,,,,,,,,,
2007-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.666015,13.342488,NaN,12.467216,NaN,NaN,NaN,NaN
2007-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.672133,13.281535,NaN,12.512669,NaN,NaN,NaN,NaN
2007-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.737607,13.519791,NaN,13.139787,NaN,NaN,NaN,NaN
2007-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.067059,14.032749,NaN,13.546647,NaN,NaN,NaN,NaN
2007-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.694635,13.822020,NaN,13.133231,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-24,30.01,23.08,21.049999,24.860001,25.200001,23.639999,27.415001,46.959999,52.049999,45.0201,...,38.400002,59.389999,30.260000,45.959900,42.628899,60.150002,28.959999,38.419998,42.73,65.07

In [71]:
etfs_adj_close.to_csv("/Users/alexandra/Documents/master_thesis/etfs_prices.csv")