In [1]:
import sys
sys.path.insert(0,'/Users/alexandra/Documents/master_thesis')

"""
Magic commands
"""

"""
Magic commands
"""

%load_ext autoreload
%autoreload 2

"""
Load relevant packages
"""

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

import pandas_datareader as pdr
from pandas_datareader.yahoo.daily import YahooDailyReader


import datetime

"""
Load own functions/packages
"""

# set plotting style

from codelib.visualization.layout import DefaultStyle
DefaultStyle();

In [3]:
'''Import ticker list'''

etf_list = pd.read_csv("/Users/alexandra/Documents/master_thesis/sb_etfs.csv")

etf_list

    Ticker
0     SPDV
1     SDOG
2     VALQ
3      YPS
4     BFOR
..     ...
246    EES
247   DGRS
248    DTD
249   QARP
250   DEUS

[251 rows x 1 columns]

In [11]:
"""
Get adjusted stock prices for SB ETFs.
"""

tickers = list(etf_list['Ticker'])
etfs = YahooDailyReader(tickers, start=datetime.date(2007, 1, 30),interval='d').read()

"""
Get adjusted close
"""
etfs_adj_close = etfs['Adj Close']
etfs_adj_close

Symbols,SPDV,SDOG,VALQ,YPS,BFOR,ESGS,QQQE,DSTL,FDRR,FDVV,...,DON,EZM,USMF,DGRW,DES,EES,DGRS,DTD,QARP,DEUS
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.588730,NaN,NaN,NaN,11.711088,NaN,NaN,19.050785,NaN,NaN
2007-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.679615,NaN,NaN,NaN,11.749418,NaN,NaN,19.241098,NaN,NaN
2007-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.768329,NaN,NaN,NaN,11.840202,NaN,NaN,19.339527,NaN,NaN
2007-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.813765,NaN,NaN,NaN,11.870463,NaN,NaN,19.359211,NaN,NaN
2007-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.787801,NaN,NaN,NaN,11.801876,NaN,NaN,19.355938,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-18,31.265522,54.400002,50.192001,23.499001,58.590000,37.993000,74.010002,43.939999,43.590000,39.689999,...,43.305000,53.740002,39.820000,62.174999,31.600000,48.070000,44.814999,62.715000,40.248001,44.450001
2022-02-22,31.011314,53.980000,49.700001,23.201000,57.580002,37.537998,73.540001,43.419998,43.060001,39.360001,...,42.740002,52.919998,39.318001,61.430000,31.290001,47.270000,44.180000,62.160000,39.723000,43.889999
2022-02-23,30.791000,53.509998,49.073002,22.849001,56.590000,37.118999,71.910004,42.770000,42.570000,38.880001,...,42.220001,52.060001,38.787998,60.619999,30.790001,46.630001,43.520000,61.450001,39.099998,43.180000
2022-02-24,30.570999,52.930000,49.299000,23.051001,57.490002,37.022999,73.989998,42.950001,42.610001,38.880001,...,42.279999,52.630001,39.139999,60.650002,30.930000,47.160000,43.389999,61.310001,39.667000,43.624001
2022-02-25,31.441999,54.470001,50.610001,23.736000,59.040001,38.101002,75.220001,44.029999,43.619999,39.970001,...,43.660000,54.310001,40.139999,62.310001,31.770000,48.340000,44.779999,63.070000,40.535000,44.787998

In [14]:
'''Resampling monthly prices'''
etfs_adj_close = etfs_adj_close.resample('BM').last()
etfs_adj_close

Symbols,SPDV,SDOG,VALQ,YPS,BFOR,ESGS,QQQE,DSTL,FDRR,FDVV,...,DON,EZM,USMF,DGRW,DES,EES,DGRS,DTD,QARP,DEUS
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.679615,NaN,NaN,NaN,11.749418,NaN,NaN,19.241098,NaN,NaN
2007-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.610372,13.100238,NaN,NaN,11.545661,13.167436,NaN,18.896570,NaN,NaN
2007-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.605872,13.196022,NaN,NaN,11.596262,13.118035,NaN,19.063910,NaN,NaN
2007-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.947333,13.710328,NaN,NaN,11.616510,13.342413,NaN,19.812618,NaN,NaN
2007-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.290978,14.319374,NaN,NaN,11.942569,13.848640,NaN,20.426105,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-29,29.473373,51.633949,50.226521,23.900000,62.136181,36.719830,84.312706,43.194729,43.256943,38.757370,...,42.961964,54.136978,40.370926,61.942780,31.604084,49.705624,45.525383,61.561047,41.836571,46.452450
2021-11-30,28.627098,49.950771,49.705204,23.110001,61.888470,35.558838,82.960609,42.546906,42.646709,38.100803,...,42.013969,53.139614,39.261490,61.568054,31.018909,49.269955,44.840870,60.703991,41.618565,45.425526
2021-12-31,30.739653,53.590000,52.938999,24.257999,64.440002,38.199001,85.309998,46.279999,45.369999,40.299999,...,44.334343,56.279999,41.971001,65.764946,32.839283,51.400002,47.557606,64.652252,43.898998,48.320000
2022-01-31,31.202717,54.299999,51.215000,23.507000,59.119999,38.354000,77.629997,44.490002,44.610001,40.450001,...,43.285007,53.360001,40.227001,63.683178,31.600000,48.080002,45.124756,63.744423,41.717999,45.242001
2022-02-28,31.441999,54.470001,50.610001,23.736000,59.040001,38.101002,75.220001,44.029999,43.619999,39.970001,...,43.660000,54.310001,40.139999,62.310001,31.770000,48.340000,44.779999,63.070000,40.535000,44.787998

In [15]:
'''Save adjusted close prices'''
etfs_adj_close.to_csv("/Users/alexandra/Documents/master_thesis/etfs_prices.csv")